@charset "UTF-8";
/* CSS Document */

nav{
	  position: sticky;
    top: 0;
    left: 0;
 	width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #252525;
}

a{
    color: #fffcfd;
    text-decoration: none;
}

.dropDown {
    padding: 12px 0px;
    position: relative;
    cursor: pointer;
}

.dropDown > a{
    padding: 0px 30px;
    gap: 2px;
}

.dropDown:hover .menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    position: absolute;
    top: 45px;
    display: grid;
    background: #252525;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}

.menu > a {
    font-size: 14px;
    padding: 12px 20px;
}

.menu > a:hover, .dropDown:hover{
    color: #fffcfd;
    background:black;
}

.section-divider{
    display: block;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #252525;
    width: 85%;
    margin: auto;
}

.header {
	text-align: right;
	background-color: grey;
	margin: 0 auto;
}

img.header-img {
	width: 100%;
	height: 20em;
	border: none;
    display: block;
    margin: 0 auto;
}

h1{font-size: 50px}
h2{font-size: 24px}
p{font-size: 20px}

/* Body */
body{
    background-image: url("../CRS-Webpage/crs.jpeg");
	margin: 0;
	height: 100%; 
	background-position: center;
	background-repeat: repeat;
	/* background-size: cover; */
}

.row {  
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 100%;
  background-color: white;
  padding: 20px;
}


.main-index {
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 60%;
}

.main-index h1 {
	text-align: center;
}


.flex-container-index {
  display: flex;
  background-color: #252525;
  justify-content: center;
  flex-direction: row;
}

.flex-container-index > div {
  background-color: #f1f1f1;
  color: black;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

 #left {
	float: left;
	display: flex;
	margin: auto;
	width: 50%;
	height: 50%;
	padding: 1em;
 }
 #right {
	float: right;
	display: flex;
	margin: auto;
	width: 50%;
	height: 50%;
	padding: 1em;
 }




