.timeline {
  text-align: center; 
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

img{
    height: 50px;
    width: 100px;
   
}

body {
  background-color: Lightgray;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'verdana';
  border-bottom-style: solid;
  border-color: gray;
  border-width: 4px;
}

h2 {
  color: black;
  text-align: center;
  font-family: 'verdana';
  border-bottom-style: dotted;
  border-color: gray;
  border-width: 2px;
}

h3 {
  color: black;
  text-align: center;
  font-family: 'verdana';
  border-width: 4px;
}


h4 {
  color: black;
  text-align: center;
  font-family: 'verdana';
  border-width: 4px;
}

p{
  color: black;
  text-align: center;
  font-family: 'verdana';
}
